requests==2.29.0
arrow==1.2.3
pandas==1.4.4
plotly==5.9.0
pycountry==22.3.5
flask==2.2.5
wtforms==3.0.1
beautifulsoup4==4.12.2
werkzeug==2.0.3
sqlalchemy==1.4.39
geopy==2.3.0
clyent==1.2.1
gunicorn==20.1.0
