requests==2.29.0
arrow==1.2.3
pandas==1.4.4
plotly==5.9.0
pycountry==22.3.5
flask==2.3.2
wtforms==3.0.1
beautifulsoup4==4.12.2
werkzeug==2.3.2
sqlalchemy==1.4.39
geopy==2.3.0
matplotlib==3.7.1
waitress==2.1.2
flask_bootstrap==3.3.7.1
flask_wtf==1.1.1
clyent==1.2.1
nbformat==5.4.0
Flask_SQLAlchemy==3.0.3
Flask_Login==0.6.2

